@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

@font-face {
  font-family: "Museo Sans";
  src: url("/fonts/museo-sans/MuseoSans_100.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Museo Sans";
  src: url("/fonts/museo-sans/MuseoSans_300.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Museo Sans";
  src: url("/fonts/museo-sans/MuseoSans_500.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Museo Sans";
  src: url("/fonts/museo-sans/MuseoSans_700.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Museo Sans" !important;
}

.font-MuseoSans {
  font-family: "Museo Sans" !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.ourvision-bg {
  background-image: url("../assets/images/about/bg-cerver.svg");
}

@keyframes slide {
  0% {
    width: 0%;
    left: 0%;
  }

  100% {
    width: 100%;
    left: 0%;
  }
}

.animate-horizontalLine-show {
  animation: slide 2s forwards;
}

@keyframes line-show {
  0% {
    height: 0;
  }

  100% {
    height: 100%;
  }
}

.animate-verticalLine-show {
  animation: line-show 2s ease-out forwards;
}

@keyframes animation-fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-90px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animation-fadeInLeft {
  animation-name: animation-fadeInLeft;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes animation-fadeInRight {
  from {
    opacity: 0;
    transform: translateX(90px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animation-fadeInRight {
  animation-name: animation-fadeInRight;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes animation-zoomIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animation-zoomIn {
  animation-name: animation-zoomIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.ql-container.ql-snow {
  border: none !important;
}

.ql-editor {
  box-sizing: border-box;
  line-height: 1.42;
  height: calc(100vh - 400px) !important;
  outline: none;
  overflow-y: auto;
  padding: 12px 15px;
  tab-size: 4;
  -moz-tab-size: 4;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.ql-size-small {
  font-size: 12px;
}
.ql-size-large {
  font-size: 18px;
}
.ql-size-huge {
  font-size: 24px;
}

.blog-body h1 {
  font-size: 36px !important;
}
.blog-body h2 {
  font-size: 28px !important;
}

.blog-body a {
  color: #1976d2 !important;
  text-decoration: underline !important;
}

.blog-body ul {
  list-style-type: disc;
  margin-left: 50px;
}

.blog-body ol {
  list-style-type: decimal;
  margin-left: 50px;
}

.ql-align-center {
  text-align: center;
}

.ql-align-right {
  text-align: right;
}

.ql-align-justify {
  text-align: justify;
}

.contact-us-bg {
  background-image: url("../assets/images/contact-us/bg-3-contact.png");
  background-size: cover;
  background-position: center;
}
.topBanner-bg {
  background-image: url("../assets/images/top-bg.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat; 
}
.top-service-Banner-bg {
  background-image: url("../assets/images/top-bg-service.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat; 
}
